.container-login{
    padding: 0 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
}

.content-login{
    width: 50%;
    text-align: center;

    mat-card-title{
        font-size: 30px;
        color: var(--dark);
        margin-bottom: 30px;
    }

    mat-card{
        padding: 10px 80px;
    }

    img{
        width: 120px;
        height: 120px;
    }

    mat-form-field {
        width: 100%;
    }

    .btn-login{
        background: var(--background);
        color: #FFF;
        padding: 4px 60px;
        border-radius: 6px;
        margin-bottom: 40px;
    }
}