/* You can add global styles to this file, and also import other style files */

:root {
    --background: #191919;
    --dark: #50555A;
    
}


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    // background: var(--background);
}
